/.vscode
/algorithms.py
/amadResume.docx
/BL.py
/DL.py
/Final Report for Mid Term Project.docx
/Form_algo.py
/Form_algo.ui
/Form_dash.ui
/Form_prod.ui
/Form_scrap.py
/Form_scrap.ui
/funcs.py
/main.py
/Product.py
/QuickSort.py
/Report.docx
/resources
/scrap.csv
/scrapers.csv
/scraping data.csv
/searching_algorithms.py
/searching_records.ui
/sorting_Arr.py
/spd.csv
/Todaysandpastscraping.csv
/urls_by_uz.txt
/__pycache__